<div class="row header-divider" style="padding-left: 10px;">
  <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"
       style="display: -webkit-box">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      id
    </div>
  </div>
  <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    name
  </div>
  <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    surname
  </div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    date of birth
  </div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    mobile number
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    address(city + street + house number)
  </div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    <button class="btn btn-primary btn-sm btn-custom"
            style="width: inherit"
            [disabled]="selectedUserList == undefined || selectedUserList.length == 0"
            (click)="onEditUsersClick()">
      <span class="fa fa-edit"></span>
      Edit selected
    </button>
  </div>
</div>
