<div class="row">
  <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    id
  </div>
  <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    name
  </div>
  <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
    surname
  </div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    date of birth
  </div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    mobile number
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    address(city + street + house number)
  </div>
</div>
